= form_with(model: task, local: true, class: "needs-validation") do |f|
  - if task.errors.any?
    .alert.alert-danger.alert-dismissible.fade.show{ role: "alert" }
      %h5.alert-heading Oops! There were some errors:
      %ul.mb-0
        - task.errors.full_messages.each do |message|
          %li= message
      %button.btn-close{ type: "button", "data-bs-dismiss": "alert", "aria-label": "Close" }

  - if @project_inline_edit
    = f.hidden_field :project_id, value: @project_id
  - else
    .mb-3
      = f.label :project_id, "Project", class: "form-label"
      = f.select :project_id, options_from_collection_for_select(@projects, :id, :title, task.project_id), { prompt: "Select a project" }, class: "form-select", required: true

  .mb-3
    = f.label :title, class: "form-label"
    = f.text_field :title, class: "form-control", placeholder: "Enter task title", required: true, autofocus: true

  .mb-3
    = f.label :description, class: "form-label"
    = f.text_area :description, class: "form-control", rows: 4, placeholder: "Enter task description", required: true

  .mb-3
    = f.label :status, class: "form-label"
    = f.select :status, options_for_select([["To Do", "todo"], ["In Progress", "in_progress"], ["Done", "done"]], task.status), {}, class: "form-select"

  .d-flex.gap-2
    = f.submit class: "btn btn-dark"
    - if @project_inline_edit
      = link_to "Cancel", project_path(@project_id), class: "btn btn-outline-secondary"
    - else
      = link_to "Cancel", task.persisted? ? task_path(task) : tasks_path, class: "btn btn-outline-secondary"

