!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Taskablanca"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/taskablanca_icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/taskablanca_icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/taskablanca_icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body.bg-white.text-dark
    .d-md-none.bg-black.text-white.w-100.m-0.px-3.py-2
      = image_tag "taskablanca_logo.png", alt: "Taskablanca", height: 40
    .container-fluid
      .row.min-vh-100
        .col-12.col-md-3.col-lg-2.p-0.bg-black.text-white.d-none.d-md-block
          .d-flex.flex-column.flex-shrink-0.px-3.h-100
            %a.d-flex.align-items-center.mb-4.me-md-auto.text-white.text-decoration-none.mt-4{ href: root_path }
              = image_tag "taskablanca_logo.png", alt: "Taskablanca", class: "me-2", height: 52
            %ul.nav.nav-pills.flex-column.mb-auto
              %li.nav-item
                %a.nav-link.text-white{ href: root_path }
                  %i.bi.bi-house.me-2
                  Home
              %li.nav-item
                %a.nav-link.text-white{ href: projects_path }
                  %i.bi.bi-folder.me-2
                  Projects
              %li.nav-item
                %a.nav-link.text-white{ href: tasks_path }
                  %i.bi.bi-list-task.me-2
                  Tasks
        .col-12.col-md-9.col-lg-10.p-0
          .d-flex.flex-column.h-100
            .bg-white.border-bottom.px-4.py-3
              .d-flex.justify-content-between.align-items-center
                .me-3{style: "max-width: 500px; width: 100%;"}
                  .input-group
                    %span.input-group-text.bg-white.border-end-0
                      %i.bi.bi-search
                    %input.form-control.border-start-0{type: "search", placeholder: "Search tasks, projects...", "aria-label": "Search"}
                .d-flex.align-items-center.gap-2.ms-auto
                  %span.d-none.d-md-inline.text-muted= Current.user.name
                  .rounded-circle.bg-dark.text-white.d-flex.align-items-center.justify-content-center{style: "width: 40px; height: 40px;"}
                    = Current.user.name.first.upcase
            .flex-grow-1.p-4.pb-md-4.mobile-bottom-padding
              = yield
      .d-md-none.position-fixed.bottom-0.start-0.end-0.bg-black.text-white.border-top
        %nav
          %ul.nav.nav-justified
            %li.nav-item
              %a.nav-link.text-white.py-3{ href: root_path }
                %i.bi.bi-house
                %span.d-block.small Home
            %li.nav-item
              %a.nav-link.text-white.py-3{ href: projects_path }
                %i.bi.bi-folder
                %span.d-block.small Projects
            %li.nav-item
              %a.nav-link.text-white.py-3{ href: tasks_path }
                %i.bi.bi-list-task
                %span.d-block.small Tasks
