!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Taskablanca"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/taskablanca_icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/taskablanca_icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/taskablanca_icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body.bg-white.text-dark
    .d-md-none.bg-black.text-white.w-100.m-0.px-3.py-2.d-flex.justify-content-between.align-items-center
      = image_tag "taskablanca_logo.png", alt: "Taskablanca", height: 40
      - if Current.organization
        = link_to organizations_path, class: "text-white text-decoration-none", title: Current.organization.name do
          %i.bi.bi-building.fs-5
    .container-fluid
      .row.min-vh-100
        .col-12.col-md-3.col-lg-2.p-0.bg-black.text-white.d-none.d-md-block
          .d-flex.flex-column.flex-shrink-0.px-3.h-100
            %a.d-flex.align-items-center.mb-4.me-md-auto.text-white.text-decoration-none.mt-4{ href: root_path }
              = image_tag "taskablanca_logo.png", alt: "Taskablanca", class: "me-2", height: 52
            %ul.nav.nav-pills.flex-column.mb-auto
              %li.nav-item
                %a{ class: nav_link_class("dashboard"), href: root_path }
                  %i.bi.bi-house.me-2
                  Home
              %li.nav-item
                %a{ class: nav_link_class("projects"), href: projects_path }
                  %i.bi.bi-folder.me-2
                  Projects
              %li.nav-item
                %a{ class: nav_link_class("tasks"), href: tasks_path }
                  %i.bi.bi-list-task.me-2
                  Tasks
              %li.nav-item
                %a{ class: nav_link_class("organizations"), href: organizations_path }
                  %i.bi.bi-building.me-2
                  Organizations
            - if Current.organization
              .mt-auto.pt-3.pb-3.border-top.border-secondary
                .small.text-white-50.mb-2 Current Organization
                .d-flex.justify-content-between.align-items-center.bg-dark.rounded.px-3.py-2
                  .text-truncate.pe-2{ title: Current.organization.name }
                    %i.bi.bi-building.me-2
                    %span.fw-semibold= Current.organization.name
                  = link_to organizations_path, class: "btn btn-sm btn-outline-light", title: "Switch organization" do
                    %i.bi.bi-arrow-repeat
        .col-12.col-md-9.col-lg-10.p-0
          .d-flex.flex-column.h-100
            .bg-white.border-bottom.px-4.py-3
              .d-flex.justify-content-between.align-items-center
                .me-3{ style: "max-width: 500px; width: 100%; position: relative;", data: { controller: "search" } }
                  = form_with url: search_path,
                              method: :get,
                              data: { search_target: "form", turbo_frame: "search-results" },
                              class: "w-100" do |form|
                    .input-group
                      %span.input-group-text.bg-white.border-end-0
                        %i.bi.bi-search
                      = form.search_field :q,
                        value: params[:q],
                        placeholder: "Search tasks, projects...",
                        "aria-label": "Search",
                        class: "form-control border-start-0",
                        data: { action: "input->search#queryChanged", search_target: "input" }

                  = turbo_frame_tag "search-results",
                      class: "search-results-dropdown position-absolute w-100 bg-white border rounded shadow-sm",
                      style: "top: 100%; left: 0; z-index: 1000; max-height: 300px; overflow-y: auto; display: none;",
                      data: { search_target: "results" }


                .d-flex.align-items-center.gap-2.ms-auto
                  .dropdown
                    %button.btn.btn-link.text-decoration-none.text-dark.dropdown-toggle.d-flex.align-items-center{ type: "button", "data-bs-toggle": "dropdown", "aria-expanded": "false" }
                      %span.d-none.d-md-inline.me-2= Current.user.name
                      .rounded-circle.bg-dark.text-white.d-flex.align-items-center.justify-content-center{style: "width: 32px; height: 32px; font-size: 14px;"}
                        = Current.user.name.first.upcase
                    %ul.dropdown-menu.dropdown-menu-end
                      %li
                        = link_to "Profile", profile_path, class: "dropdown-item"
                      %li
                        %hr.dropdown-divider
                      %li
                        = button_to "Sign Out", session_path, method: :delete, class: "dropdown-item text-danger border-0 bg-transparent w-100 text-start"
            .flex-grow-1.p-4.pb-md-4.mobile-bottom-padding
              - if flash[:notice]
                .alert.alert-success.alert-dismissible.fade.show{ role: "alert" }
                  = flash[:notice]
                  %button.btn-close{ type: "button", "data-bs-dismiss": "alert", "aria-label": "Close" }
              - if flash[:alert]
                .alert.alert-danger.alert-dismissible.fade.show{ role: "alert" }
                  = flash[:alert]
                  %button.btn-close{ type: "button", "data-bs-dismiss": "alert", "aria-label": "Close" }
              = yield
      .d-md-none.position-fixed.bottom-0.start-0.end-0.bg-black.text-white.border-top
        %nav
          %ul.nav.nav-justified
            %li.nav-item
              %a{ class: "#{nav_link_class('dashboard')} py-3", href: root_path }
                %i.bi.bi-house
                %span.d-block.small Home
            %li.nav-item
              %a{ class: "#{nav_link_class('projects')} py-3", href: projects_path }
                %i.bi.bi-folder
                %span.d-block.small Projects
            %li.nav-item
              %a{ class: "#{nav_link_class('tasks')} py-3", href: tasks_path }
                %i.bi.bi-list-task
                %span.d-block.small Tasks
            %li.nav-item
              %a{ class: "#{nav_link_class('organizations')} py-3", href: organizations_path }
                %i.bi.bi-building
                %span.d-block.small Orgs
